{% extends 'blog/base.html'%}

{% block content %}
	{% load staticfiles %}
	
    <!-- Begin page content -->
	<div class="container">
    	<div class="page-header">
			<h1><br>About</h1>
			<p>This website is an effort to shed light on who and how money is being raised to support state legislative elections.
				It aims to illustrate and engage citizens of Wisconsin, to show how their legislators are raising money and from whom this money is coming from.
				It is not meant to shame any one legislator but merely expose the system we have set up for ourselves.
				<br/>
				<br/>Is this how we want to run our elections?
			
			</p>
		</div>
    </div>
     <!-- Main component for a primary marketing message or call to action -->
    <!--<div class="jumbotron">
        <h1>About</h1>
        <p>This example is a quick exercise to illustrate how the default, static and fixed to top navbar work. It includes the responsive CSS and HTML, so it also adapts to your viewport and device.</p>
        <p>To see the difference between static and fixed top navbars, just scroll.</p>
        <p>
          <a class="btn btn-lg btn-primary" href="../../components/#navbar" role="button">View navbar docs &raquo;</a>
        </p>
      </div>
-->
{% endblock %}

