{% extends 'blog/base.html'%}

{% block content %}
	{% load staticfiles %}
	
    <!-- Begin page content -->
	<div class="container">
    	<div class="page-header">
			<h1><br>Home</h1>
			<p>Welcome to Explore Wisconsin Campaign Finance, a website dedicated to exploring campaign finance in Wisconsin.
			Currently, this site has only one feature and that is an in-depth look at the direct contributions given to candidates running for Wisconsin
			state Assembly and Senate races. Please, click the <a href="legislative_contributions">Explore WI Campaign Finance</a> button at the top of 
			this page to view the feature. 
				<br/>
				<br/>Thanks for visiting.
			
			</p>
		</div>
    </div>
     <!-- Main component for a primary marketing message or call to action -->
    <!--<div class="jumbotron">
        <h1>About</h1>
        <p>This example is a quick exercise to illustrate how the default, static and fixed to top navbar work. It includes the responsive CSS and HTML, so it also adapts to your viewport and device.</p>
        <p>To see the difference between static and fixed top navbars, just scroll.</p>
        <p>
          <a class="btn btn-lg btn-primary" href="../../components/#navbar" role="button">View navbar docs &raquo;</a>
        </p>
      </div>
-->
{% endblock %}

