{% extends 'blog/base.html'%}

{% block content %}
	{% load staticfiles %}
	<script src="{% static 'js/graph_setup_and_functions.js' %}"></script>
    <!-- Begin page content -->
    <div class="container">
    	<div class="page-header">
        <h1><br>Explore Contributions to the WI State Legislature</h1>
      </div>
      	<br>
      	<br>
		<div id="timeseries"></div>
		<div id="key"></div>
		
		<div style="border: black; font-size:12px; width:400px">
			
			<p>
				<input type="radio" name="house" id="house_asm" value="Assembly" checked> Assembly <br>
				<input type="radio" name="house" id="house_sen" value="Senate"> Senate
			</p>
			Select year: <select id="sel_year"></select><br>
			Select district number <select id="sel_district"><option>Select a District</option></select>
		</div>
    </div>


    <script src="{% static 'js/graph_setup_and_functions.js' %}"></script>
	<script src="{% static 'js/loading_plotting_data.js' %}"></script>

<script>
	var cand_data;
	var house = "Assembly";
	var year = "2014";
	
	$("#house_asm").change(function() {
		check_house();
	});
	$("#house_sen").change(function() {
		check_house();
	});
	
	// Check which house is checked.
	// 	Grab available years.
	var check_house = function(){
		console.log("Checking house...");
		if ($("#house_sen").is(':checked')){
			house = "Senate";
			//1099 to look for all records and pull years
			//$.getJSON("{% url 'candidate_data' 'Senate' '1099' %}", function(json) {
			{% url 'candidate_data' 'Senate' '1099' as grabYearURL %}
		} else {
			house = "Assembly";
			{% url 'candidate_data' 'Assembly' '1099' as grabYearURL %}
		}
		
		$.getJSON("{{ grabYearURL }}", function(json) {
			var p_opts = '<option>';
			var s_opts = '</option>';
			var years = p_opts + "Select a year" + s_opts;
			$.each(json, function (i, fb) {
				var year_opt = p_opts + fb.year_ran.substring(0, 4) + s_opts;
				if (years.indexOf(year_opt) < 0){ years += year_opt; }
			});
			$("#sel_year").html(years);
		});		
	}
	check_house();
	
	
	// When year is changed
	//	grab beginning and ending range of contr time
	//	grab all the available districts
	$("#sel_year").change(function() {
		
		year = $(this).val();
		if (year == "Select a year") {return null}
		
		$.getJSON("{% static 'js/year_ranges.json' %}", function(data){
			$.each(data, function(i, fb) {

				if (year == i){		
					rescaleTime(fb["Begin"],fb["End"])
				};

			});
		});
		
		var theurl = "/candidate_data/" + house + "/" + year;
	
		var ajaxOpts = {
			async: false,
			dataType: "json",
			success: function(data) { 
				cand_data = data;
				var p_opts = '<option>';
				var s_opts = '</option>';
				var dists = p_opts + "Select a District" + s_opts;
				$.each(data, function (i, fb) {
					var dist_opt = p_opts + fb.district + s_opts;
					if (dists.indexOf(dist_opt) < 0){ dists += dist_opt; }
				});
				$("#sel_district").html(dists);	
			}
		};

		$.ajax(theurl, ajaxOpts);
		
	});
</script>
{% endblock %}

