{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.12/d3.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <style>
	    body{
			font-family:sans-serif;
	    }
	    .axis path, line{
			stroke:black;
	    }
	    .timeseries path{
			stroke-width:3px;
	    }
	    .timeseries circle{
			stroke: white;
	    }
	    .timeseries text{
			fill: white;
			stroke: none;
			font-size:12px;
			font-weight: bold;
	    }
	    .line {
			float:left;
	    }
	    .line_container{
			width: 150px;
			height: 20px;
	    }
	    path{
			fill: none;
	    }
	    .key{
			float:right;
	    }
	    .key_line{
			font-size:15px;
			width:100%;
	    }
	    .key_square{
			height:10px;
			width:10px;
			outline:solid 1px black;
			float:left;
			margin-right:10px;
			margin-top:6px;
			margin-left:10px;
	    }
	    #timeseries{
			float:left;
	    }
	    .tick{
	    	font-size:14px;
	    }
	    
	    .Republican {
			stroke:#cb181d;
			fill:#cb181d;
			background-color:#cb181d;
		}
		.Democrat {
			stroke:#2171b5;
			fill:#2171b5;
			background-color:#2171b5;
		}
    </style>
    <link rel="stylesheet" type="text/css" href="{% static 'css/colours.css' %}" />
    <script>
    
		
		
    </script>
</head>
<body>
    <div id="timeseries"></div>
    <div id="key"></div>
    
    
    <script>

        //d3.json("{% url "legend_data" %}", draw);
    </script>
    <div style="border: black; font-size:12px; width:400px">
    	
	Select year: <select id="sel_year">
	</select>
	
	<p>radio button for house</p>
	
	Select district number <select id="sel_district">
	</select>
    </div>
</body>
</html>

<script>
	//All constant chart stuff\\
	// set up the viewport, the scales, and axis generators
	var time_scale;
	var percent_scale;
	var parseDate = d3.time.format("%Y-%m-%d").parse;
	var container_dimensions = {width: 900, height: 400},
		margins = {top: 10, right: 20, bottom: 30, left: 90},
		chart_dimensions = {
			width: container_dimensions.width - margins.left - margins.right,
			height: container_dimensions.height - margins.top - margins.bottom
		};

	time_scale = d3.time.scale()
		.range([0, chart_dimensions.width])
		.domain([parseDate("2012-11-07"), parseDate("2014-11-04")]);

	//Change domain here
	percent_scale = d3.scale.linear()
		.range([chart_dimensions.height, 0])
		.domain([100, 120000]);

	var time_axis = d3.svg.axis()
		.scale(time_scale)

	var count_axis = d3.svg.axis()
		.scale(percent_scale)
		.orient("left");

	// draw axes
	var g = d3.select('#timeseries')
	  .append('svg')
		.attr("width", container_dimensions.width)
		.attr("height", container_dimensions.height)
	  .append("g")
		.attr("transform", "translate(" + margins.left + "," + margins.top + ")")
		.attr("id","chart");

	g.append("g")
	  .attr("class", "x axis")
	  .attr("transform", "translate(0," + chart_dimensions.height + ")")
	  .call(time_axis);

	g.append("g")
	  .attr("class", "y axis")
	  .call(count_axis);

	// draw the y-axis label
	d3.select('.y.axis')
		.append('text')
		.text('Money Raised')
		.attr('transform', "rotate (-90, 0, 0)")
		.attr('x', -200)
		.attr('y', -75);
			
	function rescale(maxYValue) {
		percent_scale.domain([0,maxYValue])  // change scale to 0, to between 10 and 100
		g.select(".y.axis")
			.transition().duration(1500).ease("sin-in-out")  // https://github.com/mbostock/d3/wiki/Transitions#wiki-d3_ease
			.call(count_axis);  
	}
	var findMaxVal = function(datArray){
		var maxVal = 0;
		for (var i=0; i<datArray.length; i++){
			var lst = datArray[i].length
			if (datArray[i][lst-1].cumulative > maxVal){
				maxVal = datArray[i][lst-1].cumulative;
			}
		}
		return maxVal;
	}
	//dat is a json object, that fed into draw timeseries
	var findPartyColors = function(party){
		if (party == "Democrat"){ return "#084594" }
		if (party == "Republican"){ return "#cb181d" }
		if (party == "Libertarian"){ return "#ffff33" }
		if (party == "Independent"){ return "#a65628" }
	}
</script>

<script>
	var cand_data;
	var cont_data = [];
	var maxVal = 0;
	
	$.getJSON("{% url 'candidate_data' 'Assembly' '2014' %}", function(json) {
		cand_data = json;
		var p_opts = '<option>';
		var s_opts = '</option>';
		var years = "";
		var dists = "";
		$.each(json, function (i, fb) {
			var dist_opt = p_opts + fb.district + s_opts;
			var year_opt = p_opts + fb.year_ran.substring(0, 4) + s_opts;
			if (dists.indexOf(dist_opt) < 0){ dists += dist_opt; }
			if (years.indexOf(year_opt) < 0){ years += year_opt; }
		});
		$("#sel_district").html(dists);
		$("#sel_year").html(years);

	})

	$("#sel_district").change(function() {

		//Remember to remove the previous graph
		var distNum = $(this).val();
		//constructing the data for the legend
		var leg_data = [];
		
		//Go through each candidate who ran
		//	searching for the matching district 
		$.each(cand_data, function(i, fb) {
			if (fb.district != distNum){
				return;
			}
			console.log(fb.candidate)
			if (fb.candidate == "None, None"){ 
				return; 
			}
			//Collect campaign data for who won, party, etc
			var splt = fb.candidate.split(",");
			var obj = {};
			//Break into key name and display name
			obj["line_id"] = fb.candidate;
			obj["line_name"] = splt[splt.length-1] + " " + splt[0];
			obj["party"] = fb.party;
			obj["won"] = fb.won;
			leg_data.push(obj);
		})
		//Collect contributor data from url and store it
		for (var i=0; i<leg_data.length; i++){
			var cand_name = leg_data[i].line_id
			var theurl = "/contributor_data/" + cand_name + "/2014";
			
			var jsonOutData;
			
			var ajaxOpts = {
				async: false,
				dataType: "json",
				success: function(data) { jsonOutData = data; }
				};
			
			
			$.ajax(theurl, ajaxOpts);
			var ts = d3.select('#drawnTimeSeries')
		    // toggle
			d3.select(".timeseries #drawnTimeSeries").remove()
			ts.remove()
			draw_timeseries(jsonOutData, '#drawnTimeSeries', leg_data[i].party)
			
			cont_data.push(jsonOutData)
		}
		//console.log(cont_data[0])
		console.log("Max val is " + findMaxVal(cont_data));
		rescale(findMaxVal(cont_data))
		console.log(leg_data)
		// draw the key
		var key_items = d3.select('#key')
		  .selectAll('div')
		  .data(leg_data)
		  .enter()
		  .append('div')
			.attr('class','key_line')
			.attr('id',function(d){return d.line_id+"_key"})
		
		key_items.append('div')
			.attr('id', function(d){return 'key_square_' + d.line_id})
			.attr('class', function(d){return 'key_square ' + d.line_id + " " + d.party})

		key_items.append('div')
			.attr('class','key_label')
			.text(function(d){return d.line_name})
		//console.log("DRAW: " + cont_data.length)
		//for (var i=0; i<cont_data.length; i++){
		//	
		//	leg_data[cont_data[i][0].candidate].
		//	draw_timeseries(cont_data[i], "test")
		//}
	
	})
	// The graphing...
	var parseDate = d3.time.format("%Y-%m-%d").parse;
	function add_label(circle, d, i){
		d3.select(circle)
			.transition()
			.attr('r', 9)

		d3.select('#' + d.candidate).append('text')
			.text(d.candidate)
			.attr('text-anchor','middle')
			.style("dominant-baseline","central")
			.attr('x', time_scale(parseDate(d.date))-50)
			.attr('y', percent_scale(d.cumulative))
			.attr('class','linelabel')
			.style('opacity',0)
			.style('fill','grey')
			.transition()
				.style('opacity',1)
	}

	function draw_timeseries(data, id, party){
		var lineGen = d3.svg.line()
			.x(function(d){return time_scale(parseDate(d.date))})
			.y(function(d){return percent_scale(d.cumulative)})
			.interpolate("linear")

		var g = d3.select('#chart')
			.append('g')
			.attr('id', id)
			.attr('class', 'timeseries ' + id)

		g.append('path')
			.attr('d', lineGen(data))
			.attr("stroke", findPartyColors(party))

		g.selectAll('circle')
			.data(data)
			.enter()
			.append("circle")
			.attr('cx', function(d) {return time_scale(parseDate(d.date))})
			.attr('cy', function(d) {return percent_scale(d.cumulative)})
			.attr('r',0)
			.attr("fill", findPartyColors(party))

		var enter_duration = 1000;

		g.selectAll('circle')
			.transition()
			.delay(function(d, i) { return i / data.length * enter_duration; })
			.attr('r', 5)
			.each('end',function(d,i){
				if (i === data.length-1){
					add_label(this,d)
				}
			})

		g.selectAll('circle')
			.on('mouseover', function(d){
				d3.select(this)
					.transition().attr('r', 9)
			})
			.on('mouseout', function(d,i){
				if (i !== data.length-1) {
					d3.select(this).transition().attr('r', 5)
				}
			})

		g.selectAll('circle')
			.on('mouseover.tooltip', function(d){
				//console.log(d.candidate + " on")
				d3.select("text." + d.candidate).remove()
				d3.select('#chart')
					.append('text')
					.text(d.contributor + ": $" + d.amount)
					.attr('x', function() {
						if (parseDate(d.date) > parseDate("2014-04-01")) {
							return time_scale(parseDate(d.date)) - 300
						} else {
							return time_scale(parseDate(d.date)) + 10
						}
					})
					.attr('y', percent_scale(d.cumulative) - 10)
					.attr('class', d.candidate)
			})
			.on('mouseout.tooltip', function(d){
				//console.log(d.candidate + " off")
				d3.select("text." + d.candidate)
					.remove()
					//.transition()
					//.duration(500)
					//.style('opacity',0)
					//.attr('transform','translate(10, -10)')
					//.remove()
			})
	}

</script>




