/*Repubs*/
.Vos_Robin {
    stroke:#99000d;
    fill:#99000d;
    background-color:#99000d;
}

.Steineke_Jim {
    stroke:#cb181d;
    fill:#cb181d;
    background-color:#cb181d;
}
.Knodl_Dan {
    stroke:#ef3b2c;
    fill:#ef3b2c;
    background-color:#ef3b2c;
}

.August_Tyler {
    stroke:#fb6a4a;
    fill:#fb6a4a;
    background-color:#fb6a4a;
}   
.Murtha_John {
    stroke:#fc9272;
    fill:#fc9272;
    background-color:#fc9272;
}
.Nerison_LeeA {
    stroke:#fc9272;
    fill:#fc9272;
    background-color:#fc9272;
}

/*Dems*/
.Barca_Peter {
    stroke:#084594;
    fill:#084594;
    background-color:#084594;
}
.Shankland_Katrina {
    stroke:#2171b5;
    fill:#2171b5;
    background-color:#2171b5;
}
.Jorgensen_Andy{
    stroke:#4292c6;
    fill:#4292c6;
    background-color:#4292c6;
}
.Amarripa_JoCasta {
    stroke:#6baed6;
    fill:#6baed6;
    background-color:#6baed6;
}
